<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
 <form [formGroup]="productForm">
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input formControlName="productForm" matInput placeholder="Product Name">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Product Category</mat-label>
    <mat-select placeholder="Product Category">
  <mat-option value = "">Book</mat-option>
  <mat-option value = "">Vegitables</mat-option>
  <mat-option value = ""> Electronics</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input formControlName = "date" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <label for="">Product Freshness</label>
  <mat-radio-group formControlName ="freshness" >

  <mat-radio-button *ngFor= "let fresh of freshnesslist" [value] ="fresh" class = "example-radio-group">
    {{fresh}}
  </mat-radio-button>

  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <textarea formControlName="price" matInput placeholder="Price"></textarea>

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea formControlName="comment" matInput placeholder="Comment"></textarea>

  </mat-form-field>

 </form>
  <div mat-dialog-action [align] ="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
    <button style="margin-left: 12px;" mat-raised-button color="primary" mat-dialog-close>Save</button>

  </div>

</div>

