<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>track_changes</mat-icon>
      <span>Book App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      </button>
      <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
      </mat-toolbar-row>
  </mat-toolbar>
</p>
