<div class="container col-md-7">
<h1 style="color: red;">User Login</h1>
<form (ngSubmit)="userLogin()">
  <div class="md-3">
    <label for="exampleFormControlInput1" class="form-label">User ID</label>
    <input type="text" [(ngModel)]="user.userId" class="form-control" id = "userId" name="UserId">
  </div>

  <div class="md-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="password" [(ngModel)]="user.password" class="form-control" id = "password" name="Password">
  </div>
  <button type = "submit" class="btn btn-primary">Login</button>
<button class="btn btn-primary" class="float-end" onclick="window.location='register'">Register Here</button>


</form>
</div>
