<div class ='container'>
  <h2>Course List</h2>
  <p>Perform Crud Operation</p>
  <table class="'table">
    <thead class = 'thead-dark'>
      <tr>
        <th scope="col">Course Id</th>
        <th scope="col">Title</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngIf="courses.length ==0">
        <td colspan="5" style="text-align: center"><h2>There are no courses yet :(</h2></td>
      </tr>
      <tr *ngFor="let course of courses">
        <td>{{course.id}}</td>
        <td>{{course.title}}</td>
        <td>
          <button type = button class = "btn btn-primary" (click) ="goToUpdateCourse(course.id)">Edit Course</button>
          <button type = button class = "btn btn-secondary" (click) ="goToViewCourse(course.id)">View Course</button>
         <!-- <button type = button class = "btn btn-danger" (click) ="deleteCourse(course.id)">Delete Course</button>-->
        </td>
      </tr>
    </tbody>
  </table>
  <button type = button class = "btn btn-success" (click) ="goToAddCourse()">Add Course</button>

</div>
