<h1>Simple example of ngIf </h1>


<div class="row">
  Male <input type="checkbox" name ="Male" [(ngModel)]="Male"  />
  Female <input type="checkbox" name ="Female" [(ngModel)]="Female"/>
</div>
<p *ngIf="Male">
  Male Candidate
</p>
<p *ngIf="Female">
 Female Canditdate
</p>


<p *ngIf="Male; else elseBlock1">
  Male is checked using ifblock
</p>

<ng-template #elseBlock1>
  <p>Female is checked Using elseBlock</p>
</ng-template>
