<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
</head>
<body>
<h1>Angular Project</h1>
<app-date></app-date>
<img src ="image" alt = "meme" style="height: 100px; width:100px" class= "center">
<h1>Welcome  Back {{ name}}</h1>
<h1>  </h1>
    <h1>Simple example of ngIf </h1>
    <div class="row">Show <input type="checkbox" [(ngModel)]="showMe" />
    </div>

    <h1>ngIf </h1>

    <p *ngIf="showMe">
      ShowMe is checked
    </p>
    <p *ngIf="!showMe">
      ShowMe is unchecked
    </p>

    <h1>ngIf Else</h1>

    <p *ngIf="showMe; else elseBlock1">
      ShowMe is checked
    </p>

    <ng-template #elseBlock1>
      <p>ShowMe is unchecked Using elseBlock</p>
    </ng-template>

    <h1>ngIf then else</h1>

    <p *ngIf="showMe; then thenBlock2 else elseBlock2">
      This is not rendered
    </p>

    <ng-template #thenBlock2>
      <p>ShowMe is checked Using thenblock</p>
    </ng-template>

    <ng-template #elseBlock2>
      <p>ShowMe is unchecked Using elseBlock</p>
    </ng-template>

    <h1>using hidden </h1>

    <p [hidden]="showMe">
        content to render, when the condition is true  using hidden property binding
    </p>

    <p [hidden]="!showMe">
        content to render, when the condition is false. using hidden property binding
    </p>


    </body>
</html>
