<div class="container col-md-7">
 <h1 style="color: red;">User Registration</h1>
<form (ngSubmit)="addUser()">
  <div class="md-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" [(ngModel)]="user.name" class="form-control" id = "name" name="name">
  </div>
  <div class="md-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="text" [(ngModel)]="user.email" class="form-control" id = "email" name="Email">
  </div>
  <div class="md-3">
    <label for="exampleFormControlInput1" class="form-label">User ID</label>
    <input type="text" [(ngModel)]="user.userId" class="form-control" id = "userId" name="UserId">
  </div>
  <div class="md-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="password" [(ngModel)]="user.password" class="form-control" id = "password" name="Password">
  </div>
  <button type="submit" class="btn btn-primary center"> Register User</button>




</form>
</div>
